.custom-calendar .react-calendar {
	position: relative;
	background: none;
	background-size: cover;
	border: none;
	padding: 1.5rem;
	box-shadow: none;
}

.background-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.custom-calendar .react-calendar__navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
}

.custom-calendar .react-calendar__navigation__arrow {
	flex: 0 0 auto;
}

.custom-calendar .react-calendar__navigation button:hover,
.custom-calendar .react-calendar__navigation button:enabled,
.custom-calendar .react-calendar__navigation:enabled:hover,
.custom-calendar .react-calendar__navigation:enabled:focus {
	background-color: transparent;
}

.custom-calendar .react-calendar__navigation__label {
	max-width: 7rem;
	flex: 1;
	text-align: center;
}

.custom-calendar .react-calendar__month-view__days__day--neighboringMonth {
	visibility: hidden;
}

.custom-calendar .react-calendar__tile {
	border-radius: 40%;
}

.custom-calendar .react-calendar__tile--active,
.custom-calendar .react-calendar__tile--active:enabled,
.custom-calendar .react-calendar__tile--active:enabled:hover,
.custom-calendar .react-calendar__tile--active:enabled:focus,
.custom-calendar .react-calendar__tile:hover {
	background-color: #5C2A2A;
	color: #F0E6D2;
}